.MyModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background-color: rgba(0,0,0,0.8);
}

.MyModalContent {
    padding: 25px;
    background-color: #fff;
    border-radius: 15px;
    max-width: 300px;
}

.MyModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}